// .container {
//   width: 1200px;
//   padding-right: 15px;
//   padding-left: 15px;
//   margin: 0 auto;
// }

// .header__container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section--padding {
  padding-top: 0;
}

.section--background {
  background-color: $secondary-color;
}

// .container--baseline {
//

//   display: flex;
//   align-items: baseline;
// }

.section__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 30px;
}
